/*我的贴子 Start*/
.MyPost {
    width: 7.5rem;
    margin: 0 auto;
}

.MyPost_Top {
    width: 100%;
    background: #ffffff;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding-top: 0.36rem;
    padding-bottom: 0.26rem;
    border-top: 0.01rem solid #f5f5f5;
    margin-bottom: 0.1rem;
}

.MyPost_TopLi {
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.MyPost_TopLi.active {
    color: #333333;
}

.MyPost_TopLi.active:after {
    content: "";
    margin-top: 0.1rem;
    width: 0.3rem;
    height: 0.04rem;
    background: rgba(19, 138, 54, 1);
    border-radius: 0.02rem;
}


.MyPost_Bot {
    width: 100%;
    position: relative;
}

.MyPost_Bot ul {
    width: 100%;
    position: absolute;
    display: none;
}


.MyPost_Bot1Li {
    width: 6.9rem;
    margin: 0.2rem auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    padding: 0.2rem;

}

.MyPost_Bot1LiT {
    width: 100%;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.MyPost_Bot1LiTL {
    width: 2.6rem;
    height: 1.68rem;
    border-radius: 0.04rem;
    overflow: hidden;;
}

.MyPost_Bot1LiTR {
    /*width: 100%;*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MyPost_Bot1LiTR1 {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 0.15rem;:;
}

.MyPost_Bot1LiTR2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.08rem;
}

.MyPost_Bot1LiTR2L {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(255, 108, 0, 1);
}

.MyPost_Bot1LiTR2R {
    font-size: 0.22rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding: 0.08rem;
    background: rgba(229, 229, 229, 1);
    border-radius: 2px;
}

.MyPost_Bot1LiTR3 {
    width: 100%;
    margin-bottom: 0.2rem;
}

.MyPost_Bot1LiTR4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.MyPost_Bot1LiTR4L, .MyPost_Bot1LiTR4R {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0.4rem;
}

.MyPost_Bot1LiTR4L img, .MyPost_Bot1LiTR4R img {
    width: 0.22rem;
    height: 0.22rem;
    margin-right: 0.1rem;
}

.MyPost_Bot1LiTR4LText, .MyPost_Bot1LiTR4RText {
    font-size: 0.24rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.MyPost_Bot1LiB {
    width: 100%;
    padding-top: 0.2rem;
    border-top: 0.01rem solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MyPost_Bot1LiBL {
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.MyPost_Bot1LiBR {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.MyPost_Bot1LiBR1 {
    width: 1.6rem;
    height: 0.6rem;
    border: 0.01rem solid rgba(19, 138, 54, 1);
    border-radius: 0.3rem;
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(19, 138, 54, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}


/*Two*/
.MyPost_Bot2Li {
    width: 6.9rem;
    margin: 0.2rem auto;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    padding: 0.2rem;

}

.MyPost_Bot2LiT {
    width: 100%;
    margin-bottom: 0.2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.MyPost_Bot2LiTL {
    width: 2.6rem;
    height: 1.68rem;
    border-radius: 0.04rem;
    overflow: hidden;;
}

.MyPost_Bot2LiTR {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.MyPost_Bot2LiTR1 {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(14, 14, 14, 1);
    margin-bottom: 0.15rem;:;
}

.MyPost_Bot2LiTR2 {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.08rem;
}

.MyPost_Bot2LiTR2L {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(255, 108, 0, 1);
}

.MyPost_Bot2LiTR2R {
    font-size: 0.22rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
    padding: 0.08rem;
    background: rgba(229, 229, 229, 1);
    border-radius: 2px;
}

.MyPost_Bot2LiTR3 {
    width: 100%;
    margin-bottom: 0.2rem;
}

.MyPost_Bot2LiTR4 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.MyPost_Bot2LiTR4L, .MyPost_Bot2LiTR4R {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-right: 0.4rem;
}

.MyPost_Bot2LiTR4L img, .MyPost_Bot2LiTR4R img {
    width: 0.22rem;
    height: 0.22rem;
    margin-right: 0.1rem;
}

.MyPost_Bot2LiTR4LText, .MyPost_Bot2LiTR4RText {
    font-size: 0.24rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.MyPost_Bot2LiB {
    width: 100%;
    padding-top: 0.2rem;
    border-top: 0.01rem solid #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.MyPost_Bot2LiBL {
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.MyPost_Bot2LiBR {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.MyPost_Bot2LiBR1 {
    width: 1.6rem;
    height: 0.6rem;
    border: 0.01rem solid rgba(19, 138, 54, 1);
    border-radius: 0.3rem;
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(19, 138, 54, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyPost_Bot2LiBR2 {
    width: 1.6rem;
    height: 0.6rem;
    border: 0.01rem solid #CCCCCC;
    border-radius: 0.3rem;
    font-size: 0.26rem;
    font-weight: 500;
    color: #999999;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.2rem;
}

/*我的贴子 End*/


/*我的订单 Start*/
.MyOrder {
    width: 7.5rem;
    margin: 0 auto;
}

.MyOrder ul {
    width: 100%;
    margin-top: 0.2rem;
}

.PetOrdersUlLi {
    width: 6.9rem;
    height: 1.85rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    display: flex;
    flex-direction: column;
    padding: 0.2rem;
    margin: 0.2rem auto;
}

.PetOrdersUlLiT {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0.25rem;
    margin-bottom: 0.2rem;
    border-bottom: 0.01rem solid #E5E5E5;
}

.PetOrdersUlLiTL {
    font-size: 0.24rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin-right: 0.05rem;
}

.PetOrdersUlLiTL span {
    font-size: 0.24rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.PetOrdersUlLiTR {
    font-size: 0.28rem;
    font-weight: 500;
}

.PetOrdersUlLiB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.PetOrdersUlLiBL {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.PetOrdersUlLiBL span {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(255, 126, 0, 1);
}

.PetOrdersUlLiBR {
    width: 1.8rem;
    height: 0.6rem;
    border: 0.01rem solid rgba(19, 138, 54, 1);
    border-radius: 0.3rem;
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(19, 138, 54, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.PetOrdersUlLiBR a {
    width: 1.8rem;
    height: 0.6rem;
    border: 0.01rem solid rgba(19, 138, 54, 1);
    border-radius: 0.3rem;
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(19, 138, 54, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}


/*我的订单 End*/


/*查看物流 Start*/

.ViewLogistics{
    width: 7.5rem;
    margin: 0 auto;
}
.aui-scrollView {
    width: 100%;
    height: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    position: relative;
    margin-top: 0;
}

.aui-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 0.3rem;
    position: relative;
    background-color: #fff;
    border-bottom: 0.01rem solid #f5f5f5;
    padding-bottom: 0.2rem;
}

.aui-flexView {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.aui-flex-lag {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.aui-flex-box-zhuangtai {
    font-size: 0.3rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    margin-bottom: 0.25rem;
}

.aui-flex-box-Title {
    font-size: 0.3rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.aui-flex-lag .aui-flex-box h2 {
    font-size: 0.24rem;
    font-weight: 500;
    color: rgba(170, 170, 170, 1);
}

.aui-flex-lag .aui-flex-box h2 span {
    font-size: 0.24rem;
    font-weight: 500;
    color: rgba(170, 170, 170, 1);
}

.aui-aircraft-img {
    margin-right: 0.27rem;
    width: 1.3rem;
    height: 1.3rem;
    /*text-align: center;*/
}

.aui-aircraft-img img {
    width: 100%;
    max-height: 100%;
    /*vertical-align: top;*/
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    color: #333;
}

.divHeight {
    width: 100%;
    height: 0.2rem;
    background: #f5f5f5;
    position: relative;
    overflow: hidden;
}

.aui-flex-box {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: 0.3rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.aui-timeLine {
    background-color: #fff;
    overflow: hidden;
    position: relative;
    z-index: 1;
    padding-top: 0.2rem;
}

.aui-timeLine-content {
    margin-left: 0.56rem;
    border-left: 0.02rem solid #dddddd;
}

.aui-timeLine-content-item {
    padding: 0 0.24rem 0.6rem 0;
    margin-left: 0.45rem;
    position: relative;
}

.aui-timeLine-content-item p {
    font-size: 0.3rem;
    font-weight: 500;
    color: rgba(136, 136, 136, 1);
    margin-bottom: 0.17rem;
    line-height: 0.4rem;
}

.aui-timeLine-content-item span {
    font-size: 0.24rem;
    font-weight: 500;
    color: rgba(170, 170, 170, 1);
}

.aui-timeLine-content .aui-timeLine-content-item:first-child p {
    padding-top: 0;
    color: #005A00;
}

/*.aui-timeLine-content .aui-timeLine-content-item:before {*/
/*    content: "";*/
/*    width: 0.32rem;*/
/*    height: 0.32rem;*/
/*    position: absolute;*/
/*    z-index: 0;*/
/*    top: 0;*/
/*    left: -0.61rem;*/
/*    background-color: #DDDDDD;*/
/*    border-radius: 50%;*/
/*}*/

.aui-timeLine-content .aui-timeLine-content-item.active:before {
    content: "";
    width: 0.32rem;
    height: 0.32rem;
    position: absolute;
    z-index: 1;
    top: 0;
    left: -0.61rem;
    background-color: #138A36;
    border-radius: 50%;
}

.aui-timeLine-content-icon {
    width: 0.32rem;
    height: 0.32rem;
    border-radius: 50%;
    background-color: #e4e5e9;
    content: "";
    position: absolute;
    /*z-index: 1;*/
    left: -0.45rem;
    display: block;
    -webkit-transform: translate(-50%);
    transform: translate(-50%);
}

/*.aui-timeLine-content-item:first-child>.aui-timeLine-content-icon {*/
/*    top: 3px;*/
/*}*/

/*.aui-timeLine-content-item:first-child>.aui-timeLine-content-icon {*/
/*    background-color: #f23030;*/
/*    width: 10px;*/
/*    height: 10px;*/
/*}*/


.yd-timeline-custom-item:last-child:before, .aui-timeLine-content-item:last-child:before {
    content: "";
    width: 0.04rem;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: -0.47rem;
    top: 19px;
}

.b-line {
    position: relative;
}


/*查看物流 End*/

/*收货地址 Start*/
.MyAddress {
    width: 7.5rem;
    margin: 0 auto;

}

.MyAddressUl {
    width: 100%;
    background: #fff;
    margin-top: 0.2rem;
}

.MyAddressUlLi {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.MyAddressUlLiT {
    width: 100%;
    padding: 0 0.3rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.MyAddressUlLiC {
    width: 100%;
    height: 0.02rem;
    background: rgba(229, 229, 229, 1);
}

.MyAddressUlLiTT {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.2rem 0;
}

.MyAddressUlLiTTL {
    display: flex;
    align-items: center;
    justify-items: flex-start;
    margin-right: 0.7rem;
}

.MyAddressUlLiTTL img {
    width: 0.3rem;
    height: 0.38rem;
    margin-right: 0.2rem;
}

.MyAddressUlLiTTL span {
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.MyAddressUlLiTTR {
    display: flex;
    align-items: center;
    justify-items: flex-start;
}

.MyAddressUlLiTTR img {
    width: 0.26rem;
    height: 0.38rem;
    margin-right: 0.2rem;

}

.MyAddressUlLiTTR span {
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.MyAddressUlLiTB {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 0.2rem 0;
}

.MyAddressUlLiTBText {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.MyAddressUlLiTBText span {
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.MyAddressUlLiB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 0.3rem;
}

.MyAddressUlLiBL {
    display: flex;
}

.mui-input-row {
    display: flex;
    align-items: center;
}

.mui-input-row label {
    padding: 0;
}

.mui-input-row > .MyAddressUlLiBL_Radio {
    left: 0;
}

.mui-checkbox input[type=checkbox]:checked:before, .mui-radio input[type=radio]:checked:before {
    color: #138A36;
}

.MyAddressUlLiBR {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.MyAddressUlLiBREdit {
    width: 0.38rem;
    height: 0.38rem;
    margin-right: 0.4rem;
}

.MyAddressUlLiBRDelete {
    width: 0.38rem;
    height: 0.38rem;
}

.AddMyAddressUlLi {
    position: fixed;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    width: 6.9rem;
    height: 0.8rem;
    background: rgba(19, 138, 54, 1);
    border-radius: 0.1rem;
    margin: 0 auto;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.AddMyAddressUlLi a {
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}


/*收货地址 End*/


/*添加收货地址 Start*/
.AddMyAddress {
    width: 7.5rem;
    margin: 0 auto;
}

.AddMyAddress_Box {
    background: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0.3rem;
    margin-top: 0.2rem;
}

.AddMyAddress_Box li {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.01rem solid #e6e6e6;
    padding: 0.3rem 0;
}

.AddMyAddress_Box li span {
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(51, 51, 51, 1);
}

.AddMyAddress_Box li input {
    width: 50%;
    height: auto;
    border: 0;
    padding: 0;
    margin: 0;
    text-align: right;
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(179, 179, 179, 1);
}

.AddMyAddress_Box3 {
    position: relative;
}

.AddMyAddress_Box .AddMyAddress_Box3 input {
    margin-right: 0.3rem;
}

.AddMyAddress_Box3:after {
    right: 0;
    content: '\e583';
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
}

.AddMyAddressUlLiBtn {
    position: fixed;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    width: 6.9rem;
    height: 0.8rem;
    background: rgba(19, 138, 54, 1);
    border-radius: 0.1rem;
    margin: 0 auto;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.AddMyAddressUlLiBtn a {
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}


/*添加收货地址 End*/

/*意见反馈 Start*/
.MyFeedback {
    width: 7.5rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;

}

.MyFeedback_textarea {
    width: 6.9rem;
    height: 4rem;
    background: rgba(255, 255, 255, 1);
    border-radius: 0.1rem;
    border: 0;
    /*position: absolute;*/
    top: 0.2rem;
    left: 0;
    right: 0;
    padding: 0.2rem;
    margin: 0 auto;
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
    line-height: 0.44rem;
}
.MyFeedbacknum {
    position: absolute;
    bottom: 0.2rem;
    right: 0.5rem;
}
.MyFeedbacknum span{
    font-size:0.24rem;
    font-weight:500;
    color:rgba(153,153,153,1);
}
.MyFeedbackBtn {
    position: fixed;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    width: 6.9rem;
    height: 0.8rem;
    background: rgba(19, 138, 54, 1);
    border-radius: 0.1rem;
    margin: 0 auto;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.MyFeedbackBtn a {
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}


/*意见反馈 End*/


/*我的优惠券 Start*/
.MyCoupon_Bot {
    width: 6.9rem;
    height: 2rem;
    background: #f5f5f5;
    border-radius: 0.1rem;
    margin: 0.2rem auto;
    display: flex;
}

.MyCoupon_BotL {
    width: 1.8rem;
    height: 2rem;
    background: linear-gradient(6deg, rgba(254, 78, 128, 1) 0%, rgba(248, 130, 99, 1) 100%);
    display: flex;
    align-items: center;
    /*align-items: baseline;*/
    justify-content: center;
    font-size: 0.24rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
}

.MyCoupon_BotLBox {
    display: flex;
    align-items: baseline;
}

.MyCoupon_BotL span {
    font-size: 0.24rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin-left: 0.1rem;
}

.MyCoupon_BotL p {
    font-size: 0.8rem;
    font-weight: bold;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

.MyCoupon_BotR {
    width: 5.1rem;
    height: auto;
    background: #fff;
    padding: 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.MyCoupon_BotRT, .MyCoupon_BotRB {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.MyCoupon_BotRTL {
    font-size: 0.28rem;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
}

.MyCoupon_BotRTR {
    font-size: 0.24rem;
    font-weight: 500;
    color: rgba(255, 58, 72, 1);
}

.MyCoupon_BotRBL {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.MyCoupon_BotRBLT {
    font-size: 0.22rem;
    font-weight: 500;
    color: rgba(102, 102, 102, 1);
}

.MyCoupon_BotRBLB {
    font-size: 0.22rem;
    font-weight: 500;
    color: rgba(153, 153, 153, 1);
}

.MyCoupon_BotRBR {
    width: 1.4rem;
    height: 0.6rem;
    border: 1px solid rgba(255, 58, 72, 1);
    border-radius: 30px;
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(255, 58, 72, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyCoupon_BotRBR a {
    width: 100%;
    height: 100%;
    font-size: 0.26rem;
    font-weight: 500;
    color: rgba(255, 58, 72, 1);
    display: flex;
    align-items: center;
    justify-content: center;
}

.MyCoupon_BotC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: #ffffff;
}

.MyCoupon_BotC1 {
    width: 0.2rem;
    height: 0.2rem;
    border-radius: 50%;
    background: #f5f5f5;
}

.MyCoupon_BotC1:nth-child(1) {
    position: absolute;
    left: -0.09rem;
    top: -0.1rem;
}

.MyCoupon_BotC1:nth-last-child(1) {
    position: absolute;
    left: -0.09rem;
    bottom: -0.1rem;
}


/*我的优惠券 Start*/

/*个人资料 Start*/
.MyInformation {
    width: 7.5rem;
    background: #ffffff;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.MyInformation .mui-table-view {
    width: 100%;
    padding: 0 0.3rem;
    display: flex;
    flex-direction: column;
}

.MyInformation .mui-table-view .mui-table-view-cell {
    width: 100%;
    /*padding: 0.2rem 0;*/
    border-bottom: 0.01rem solid #f5f5f5;
}

.MyInformation .mui-table-view-cell .mui-navigate-right:after {
    right: 0;
}
.MyOrder .mui-table-view-cell > a:not(.mui-btn) {
    padding: 0.3rem 0.3rem;
}
.mui-table-view-cell > a:not(.mui-btn) {
    padding: 0.3rem 0;
}


.MyInformation .mui-table-view-cell:nth-child(1) .mui-navigate-right:after {
    right: 0;
    content: '';
}

.MyInformation .mui-table-view-cell:nth-child(1) .mui-navigate-right img {
    position: absolute;
    right: 0;
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    overflow: hidden;
}

.MyInformation .mui-table-view-cell .mui-navigate-right input {
    position: absolute;
    right: 0.3rem;
    width: 50%;
    /*height:0.26rem;*/
    font-size: 0.28rem;
    font-weight: 500;
    color: rgba(179, 179, 179, 1);
    border: 0;
    text-align: right;
}
.MyInformationHeight{
    width: 7.5rem ;
    margin: 0 auto;
    height: 0.1rem;
    background: #f5f5f5;
}
.MyInformationBtn {
    position: fixed;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    width: 6.9rem;
    height: 0.8rem;
    background: rgba(19, 138, 54, 1);
    border-radius: 0.1rem;
    margin: 0 auto;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.MyInformationBtn a {
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}
/*个人资料 End*/
/*修改手机号码 Start*/
.EditPhone{
    width:7.5rem;
    background:rgba(255,255,255,1);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0 0.6rem;
    margin-top:0.2rem;
}
.EditPhoneT{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: 0.01rem solid #f5f5f5;
    padding-top: 0.3rem;
}
.EditPhoneTT{
    font-size:0.28rem;
    font-weight:500;
    color:rgba(51,51,51,1);
    padding-bottom: 0.3rem;
}
.EditPhoneTT span{
    font-size:0.28rem;
    font-weight:500;
    color:rgba(51,51,51,1);
}
.EditPhoneTB{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.EditPhoneTB input[type=number]{
    width: 50%;
    border: 0;
    font-size:0.28rem;
    font-weight:500;
    color:rgba(153,153,153,1);
    padding-left: 0;
    margin: 0;
}
.EditPhoneTB .EditPhoneTBBtn{
    /*width:1.6rem;*/
    /*height:0.5rem;*/
    border:1px solid rgba(19,138,54,1);
    border-radius:25px;
    font-size:0.26rem;
    font-weight:500;
    color:rgba(24,140,58,1);
    display: flex;
    align-items: center;
    justify-content: center;
}
.EditPhoneB{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 0.3rem;
}
.EditPhoneBT{
    font-size:0.28rem;
    font-weight:500;
    color:rgba(102,102,102,1);
    margin-bottom: 0.3rem;
}
.EditPhoneB input{
    font-size:0.28rem;
    font-weight:500;
    color:rgba(153,153,153,1);
    border: 0;
    padding-left: 0;
}
.EditPhoneBtn {
    position: fixed;
    bottom: 0.3rem;
    left: 0;
    right: 0;
    width: 6.9rem;
    height: 0.8rem;
    background: rgba(19, 138, 54, 1);
    border-radius: 0.1rem;
    margin: 0 auto;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

.EditPhoneBtn a {
    width: 100%;
    height: 100%;
    font-size: 0.32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    color: rgba(255, 255, 255, 1);
}

/*修改手机号码 End*/